name: Build

on:
  push:
    branches: [ master ]
    paths:
      - "src/**"
      - "build.gradle.kts"
      - "gradle.properties"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Build with gradle
        run: ./gradlew clean build
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: version-checker
          path: |
            build/libs/*.jar